extends ./layout.pug

block seo
  title #{title}
  meta(name="keywords"  content=keywords)
  meta(name="description" content=description)

block content
  each src in images
    img(src=imgPath+src)
  div(class="features")
    #{content}
  div(class="display-flex footer")
    if !isInApp
      a(class="download" href="/common/downloadApp")  下载APP
    a(class="cy-btn not-app" href="javascript:void(0);" @click="takeNewShot()") 我要打新